.settings/
.classpath
.project
target/
logs/
data/
.idea/
.gradle/
build/
QuestionAnsweringSystem.iml
QuestionAnsweringSystem.ipr
QuestionAnsweringSystem.iws
deep-qa/.settings/
deep-qa/.classpath
deep-qa/.project
deep-qa/target/
deep-qa/logs/
deep-qa/data/
deep-qa/.idea/
deep-qa/.gradle/
deep-qa/build/
deep-qa/deep-qa.iml
deep-qa/deep-qa.ipr
deep-qa/deep-qa.iws
deep-qa-web/.settings/
deep-qa-web/.classpath
deep-qa-web/.project
deep-qa-web/target/
deep-qa-web/logs/
deep-qa-web/data/
deep-qa-web/.idea/
deep-qa-web/.gradle/
deep-qa-web/build/
deep-qa-web/deep-qa-web.iml
deep-qa-web/deep-qa-web.ipr
deep-qa-web/deep-qa-web.iws
deep-qa-web/nb-configuration.xml